<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>411827572344-4vlg22sdstlm9fk9qoptkgl2h555i3og.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.411827572344-4vlg22sdstlm9fk9qoptkgl2h555i3og</string>
	<key>API_KEY</key>
	<string>AIzaSyAGwdLTVjDhfhYIUsvUxAWyOSc6kJq8w1s</string>
	<key>GCM_SENDER_ID</key>
	<string>411827572344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.userflowerstore</string>
	<key>PROJECT_ID</key>
	<string>flower-store-67ee9</string>
	<key>STORAGE_BUCKET</key>
	<string>flower-store-67ee9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:411827572344:ios:dc5faa10fc5c1dee47278d</string>
</dict>
</plist>